* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  color: white;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  gap: 10px;
}
@media (max-width: 767px) {
  .social-icons {
    font-size: 14px;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  font-size: 1rem;
  padding: 1rem;
  color: set-text-color(#272727);
  z-index: 1;
}

.menu-btn__burger::before, .menu-btn__burger {
  right: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-btn__burger::after, .menu-btn__burger::before {
  content: "";
  position: absolute;
}

.menu-btn {
  position: absolute;
  width: 28px;
  height: 35px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}
@media (max-width: 767px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn__burger {
  position: absolute;
  top: 0.5rem;
}
.menu-btn__burger::before {
  top: -8px;
}
.menu-btn__burger::after {
  left: 0;
  top: 8px;
  width: 70%;
  height: 3px;
  background-color: white;
}
.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background-color: transparent;
}
.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  -webkit-transform: rotate(-45deg) translate(4px, -5px);
          transform: rotate(-45deg) translate(4px, -5px);
  width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 70px;
}
.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav .menu-nav__item {
  font-size: 22px;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav .menu-nav .active {
  color: #ff652f;
}
.nav .menu-nav .menu-nav__link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.nav .menu-nav .menu-nav__link:hover {
  color: #ff652f;
}
.nav .menu-nav .menu-nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ff652f;
  bottom: -8px;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav .menu-nav .menu-nav__link:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 28px;
    background-color: #272727;
    overflow: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav .menu-nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .menu-nav__item {
    font-size: 37px;
    padding: 15px 0;
    letter-spacing: 5px;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  .nav .menu-nav__item.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}

main {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
  padding-top: 40vh;
  text-align: center;
  background-image: url("../Sass/pages/model-1.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
}
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.home__name {
  font-size: 5em;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
  line-height: 1;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}
.home .info {
  font-size: 1.4rem;
}
.home .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
.home .social-icons a {
  padding: 0.4rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.home .social-icons a:hover {
  color: #ff652f;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  width: 100%;
  height: 65vh;
  background-image: url("../Sass/pages/model-1.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.about__bio-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.about__bio-image .text-secondary {
  font-size: 45px;
  text-transform: uppercase;
  color: #ff652f;
  font-weight: 500;
}
@media (max-width: 767px) {
  .about__bio-image .text-secondary {
    font-size: 35px;
  }
}
.about__bio-image p {
  width: 80%;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .about__bio-image p {
    font-size: 15px;
    width: 100%;
    padding: 0 15px;
  }
}
.about .jobs {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
@media (max-width: 767px) {
  .about .jobs {
    width: 90%;
  }
}
.about .jobs__job {
  background-color: #414141;
  padding: 10px 15px;
  border-radius: 5px;
  border-bottom: 5px solid #ff652f;
}
.about .jobs__job .text-secondary {
  font-size: 21px;
}
.about .jobs__job h2 {
  color: #ff652f;
  font-size: 28px;
  font-weight: 500;
  margin: 6px 0;
}
.about .jobs__job h4 {
  font-weight: 500;
  margin-bottom: 6px;
  letter-spacing: 1px;
  font-size: 17px;
}
.about .jobs__job p {
  font-size: 15px;
  line-height: 1.5;
}
.about .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about footer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -45px;
  bottom: 55px;
}

.contact__info {
  width: 100%;
  height: 100vh;
  background-image: url("../Sass/pages/model-1.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.contact__info .text-secondary {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 2px;
}
.contact__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 80vw;
  place-items: center;
  margin-top: 27px;
  row-gap: 15px;
}
@media (max-width: 767px) {
  .contact__list {
    place-items: flex-start;
    width: auto;
  }
}
.contact__list .item .icon {
  font-size: 25px;
  letter-spacing: 1px;
}
.contact__list .item p {
  font-size: 26px;
  color: #ff652f;
  letter-spacing: 1px;
}
.contact .social-icons {
  position: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}
.contact footer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -45px;
  bottom: 55px;
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  width: 100%;
  height: 65vh;
  background-image: url("../Sass/pages/model-1.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.projects__bio-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.projects__bio-image .text-secondary {
  font-size: 45px;
  text-transform: uppercase;
  color: #ff652f;
  font-weight: 500;
}
@media (max-width: 767px) {
  .projects__bio-image .text-secondary {
    font-size: 35px;
  }
}
.projects__items {
  width: 60vw;
  margin: 2rem auto 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.projects__item {
  position: relative;
  overflow: hidden;
}
.projects__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ff652f;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.projects__item img {
  width: 100%;
  display: block;
}
.projects__item:hover::after {
  opacity: 0.7;
  height: 100%;
}
.projects__item:hover .projects__btns {
  opacity: 1;
  pointer-events: auto;
}
.projects__btns {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.projects__btn {
  font-weight: 500;
}
.projects .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects footer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -45px;
  bottom: 55px;
}